.header-1-container {
  height: 40px;
  background-color: #4f46e5;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-evenly;
}
.clock-icon {
  height: 30px;
  width: 30px;
  color: white;
  padding: 5px;
}
.sub-head-1 {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
}
.header-1-sub {
  display: flex;
  justify-content: center;
}
.sub-head-1-icon {
  height: 25px;
  color: white;
  width: 25px;
  padding-right: 5px;
  padding-left: 5px;
}
p {
  margin-top: 10px;
}
@media (max-width: 676px) {
  .sub-head-1-icon {
    height: 15px;
    color: white;
    width: 15px;
    padding-right: 5px;
    padding-left: 5px;
  }
}
